.footer {
    border-top: 1px solid #0ACF83;

    .footerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: #0ACF83;
            font-size: 45px;
            line-height: 54px;
            font-weight: 700;
        }

        .links {
            display: flex;

            li {
                font-size: 22px;
                line-height: 59px;
                color: #363636;
                margin-left: 42px;

                @media only screen and (max-width: 991px) {
                    font-size: 16px;
                    line-height: 42px;
                    margin-left: 12px;
                }

                @media only screen and (max-width: 767px) {
                    margin-left: 0px;
                }
            }

            @media only screen and (max-width: 767px) {
                justify-content: space-between;
                margin-top: 10px;
            }
        }

        @media only screen and (max-width: 767px) {
            display: block;
        }
    }
}